<div class="d-flex justify-content-center align-items-center ">
    <div class="container">
        <!-- <h5 style="text-align: center;">Bienvenido</h5> -->
        <button class="botones" [routerLink]="['/bosque']"><img src="/assets/images/bosque.png" width="40"
                height="40"></button>
        <p style="font-size: medium;">Bosque</p>
        <button class="botones" [routerLink]="['/siembra-rebrote']"><img src="/assets/images/siembraReb.png" width="40"
                height="40"></button>
        <p style="font-size: medium;">Siembra-Rebrote</p>
    </div>
    <div class="container">
        <button class="botones" [routerLink]="['/contrato']"><i class="bi bi-file-earmark-text fs-2"></i></button>
        <p style="font-size: medium;">Contrato</p> 
        <button class="botones" [routerLink]="['/contrato']"><i class="bi bi-bar-chart-line fs-2"></i></button>
        <p style="font-size: medium;">Reporte</p>
    </div>
</div>